<html>
    <head></head>
    <body>
        <form>
            <table>
                <th><td></td><td></td></th>
                <tr><td>Group</td><td><select name="group">
                    <option value="DBM">DBM</option>
                    <option value="GRF">GRF</option>
                </select></td></tr>
                <tr><td>Name</td><td><input type="text"/></td></tr>
                <tr><td>Address</td><td><input type="text"/></td></tr>
                <tr><td>Polling Unit Code</td><td><input type="text"/></td></tr>
                <tr><td>Phone Number</td><td><input type="text"/></td></tr>
                <tr><td>Post Held<br/>(State, LGA, Ward, Polling Booth exco)</td><td><input type="text"/></td></tr>
                <tr><td></td><td><input type="submit" value="Save and Continue"/></td></tr>
            </table>
        </form>
    </body>
</html>
