<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
    table{width: 100%;}
    table td, table th {border: 1px solid grey; text-align: left}
    table th {background: #eee;}
    .pagination-div{user-select: none;}
    .pagination-div span{border-radius: 3px; border: 1px solid #999;
        padding: 5px; margin: 10px 0px 0px 10px; display: inline-block}
    span.selected{background: #ccf;}
    .cell-right{text-align: right}
    </style>
</head>
<body>
    <h2>Volunteers</h2>
    <form th:object="${form}" method="post">
    <span>
        <select th:field="*{groupId}" name="groupSelect" id="groupSelect">
            <option value="0"></option>
            <option th:each="group: ${form.groupList}"
                    th:value="${group.id}"
                    th:text="${group.name}">
            </option>
        </select>
    </span>
    <span>
        <select th:field="*{localGovId}" name="localGovSelect" id="localGovSelect">
            <option value="0"></option>
            <option th:each="localGov: ${form.localGovs}"
                    th:value="${localGov.id}"
                    th:text="${localGov.name}">
            </option>
        </select>
    </span>
    <span>
        <select th:field="*{wardId}" name="wardSelect" id="wardSelect">
            <option value="0"></option>
            <option th:each="ward: ${form.wards}"
                    th:value="${ward.id}"
                    th:text="${ward.code}">
            </option>
        </select>
    </span>
    <span>
        <select th:field="*{pollingUnitId}" name="pollingUnitSelect" id="pollingUnitSelect">
            <option value="0"></option>
            <option th:each="pollingUnit: ${form.pollingUnits}"
                    th:value="${pollingUnit.id}"
                    th:text="${pollingUnit.code}">
            </option>
        </select>
    </span>
    <input type="submit"/>
</form>
<table>
<tr>
    <th>#</th>
    <th>Name</th>
    <th class="cell-right">Phone No </th>
    <th>Position</th>
    <th>Code</th>
</tr>
<tr th:each="volunteer, i: ${form.volunteersPage.content}">
    <td th:text="${(form.volunteersPage.number*form.volunteersPage.size)+i.index+1}"></td>
    <td th:text="${volunteer.name}"></td>
    <td class="cell-right">
        <span th:if="${!volunteer.phoneNo.trim().equals('')}">
            0<span th:text="${volunteer.phoneNo}"></span>
        </span>
    </td>
    <td th:text="${volunteer.position}"></td>
    <td th:text="${volunteer.code}"></td>
</tr>
</table>

<div class="pagination-div">
    <a th:href="@{/volunteers(page=0,size=${form.volunteersPage.size})}">First</a>
    <span th:if="${form.volunteersPage.hasPrevious()}">
        <a th:href="@{/volunteers(page=${form.volunteersPage.number-1},size=${form.volunteersPage.size})}">Previous</a>
    </span>
    Page<span th:text="${form.volunteersPage.number+1}"></span> of <span th:text="${form.volunteersPage.totalPages}"></span>
    <span th:if="${form.volunteersPage.hasNext()}">
        <a th:href="@{/volunteers(page=${form.volunteersPage.number+1},size=${form.volunteersPage.size})}">Next</a>
    </span>
    <a th:href="@{/volunteers(page=${form.volunteersPage.totalPages-1},size=${form.volunteersPage.size})}">Last</a>
</div>
</body>
</html>